name: Trigger auto deployment for constella

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/constella-AutoDeployTrigger-9f25c868-908b-46da-834b-579419d8d45c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CONSTELLA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONSTELLA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONSTELLA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.CONSTELLA_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONSTELLA_REGISTRY_PASSWORD }}
          containerAppName: constella
          resourceGroup: hyperlift
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


